@section styles{
    <style>
        h2{
            background-color:yellowgreen;
        }
    </style>
}
@section script{
    <script>
        $(document).ready(function(){
            $("#botonvista").click(function(){
                $("#mensajevista").text("Boton pulsado en View");
            })
        })
    </script>
}
<h1 style="color:fuchsia">
    Esta en casita
</h1>

<h2 style="color:blue" id="mensajevista">
    Mensaje en vista
</h2>
<button class="btn btn-info" id="botonvista">
    Pulsar en View
</button>
