<h1>Create Hospital</h1>

<form method="post">
    <label>Id</label><br />
    <input type="text" name="idhospital" class="form-control" /> <br />
    <label>Nombre</label><br />
    <input type="text" name="nombre" class="form-control" /><br />
    <label>Direccion</label><br />
    <input type="text" name="direccion" class="form-control" /><br />
    <label>Telefono</label><br />
    <input type="text" name="telefono" class="form-control" /><br />
    <label>Camas</label<br />
    <input type="text" name="camas" class="form-control" /><br />
    <button class="btn btn-info">Insertar</button>
</form>
<h2 style="color:blue">@ViewData["mensaje"]</h2>