@model List<Hospital>

    <h1>Hospitales Ado Net</h1>

    <table class="table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital hospital in Model)
        {
            <tr>
                <td>@hospital.Nombre</td>
                <td>@hospital.Direccion</td>
                <td>@hospital.Telefono</td>
                <td>
                    @Html.ActionLink("Details","Details","Hospital", new {id= hospital.IdHospital}, new{@class="btn-btn-succes"})
                </td>
            </tr>
        }
    </tbody>
</table>